/* Set up colors */
:root {
    --purple: #660066;
    --white: #e8e8e8;
    --green: #008080;
    --blue: #265a80;
    --black: #090c08;
    overflow-x: hidden;
}

.main-container {
    min-height: 100vh;
    position: relative;
    min-width: 100vw;
    padding: 0;
    overflow: hidden;
    background-color: var(--purple);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 0.5em;
}

footer a {
    color: var(--blue);
}

footer p {
    margin: 0;
}