.hero {
    height: 70vh;
    min-width: 100vw;
}

.hero .jumbotron {
    color: var(--white);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
}

.hero-text button {
    margin-top: 1em;
    margin-right: 18vw;
}


.hero-text h1 {
    font-size: 3.5rem;
    margin-right: 1rem;
}

.about-container {
    min-width: 100vw;
    padding: 0;
    overflow: hidden;
    margin: 0;
    background-color: var(--purple);
}

.about-fission {
    background-color: var(--white);
    padding: 2.5rem 3rem;
}

.sponsors-container {
    min-width: 100vw;
    padding: 0;
    overflow: hidden;
    margin: 0;
    background-color: var(--purple);
}

.sponsors {
    background-color: var(--white);
    padding: 2.5rem 3rem;
}

.card {
    height: 20rem;
    max-width: 16em;
    background-color: #d6d2d2;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1em;
    margin-bottom: 1em;
}

.card img {
    padding: 1em;
    height: 12rem;
}

.hero-holder {
    text-align: center;
    width: 100%;
    height: 100%;
}


.hero-holder h1 {
    font-size: 3.5rem;
}

.hero-stuff {
    margin-top: 20vh;
}

.sponsors {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponsor-card {
    border: 1px solid var(--black);
    background-color: #d8d8d8;
    border-radius: 8px;
    padding: 8px;
    margin: 16px;
}

.sponsor-card img {
    display: block;
    margin: auto;
}