.iframe-holder {
    text-align: center;
    margin-top: 1em;
}

iframe {
    width: 75vw;
    height: 7219px;
}

img {
    display: block;
}

@media (min-width: 320px) and (max-width: 767px) {
    iframe {
        height: 9600px;
    }
}